body{
	background:#DDDBDD;
	background-size:100% 100%;
	background-attachment:fixed;
	font-family: verdana;
}
figure{
	text-align: center;
}
header{
	display: block;
}
nav{
	background: linear-gradient(30deg, #000000, #DD67E4);
	text-align: center;
	padding: 10px 0px;
	margin: 20px 0px 0px 0px;
}
nav ul li{
	display: inline;
	padding: 0px 10px;
	text-transform: uppercase;
	font-size: 15px
}
nav ul li a{
	text-decoration: none;
	color: #fff;
}

input.src{
	padding: 9px 10px 9px 32px;
	outline:none;
	font-size: 18px;
	border-radius: 15px;
	color:#444;
	border: 3px solid a50559;
	background: #fff url("../../img/search-icon.png") no-repeat 9px center;
	width: 60px;
	transition: all .5s;

}
input.src:hover{
	width: 180px;
	background-color: #fff;
	border-color: #8c10b3;
	box-shadow: 0 0 5px #6dcff680;

}
section{
	margin: auto;
	width: 45%;
	background: linear-gradient(to bottom right, #CF77CF, #5C9BEE);
	border-radius: 16px;
	box-shadow: 2px 2px 5px #999;
	padding: 20px;
	
}
textarea{
	width: 50%;;
	resize: none;
}
.checkbox{
	display: flex;
	margin-left: 30%;
	
}
.contacto{
	margin: auto;
	width:  40%;
	border: none;
	background: none;
	text-align: center;
	font-size: 16px;
}
.contacto a{
	display: inline-block;
}
footer{
	clear:both;
	background: linear-gradient(30deg, #000000, #DD67E4);
	text-align: center;
	color: #fff;
}
footer a{
	text-decoration: none;
	color: #fff;
}
footer p{
	font-size: 10px;
}

		form{
			width: 100%;
		}
		legend{
			color: #1F618D;
			font-size: 30px;
		}
		.ingresoDatos label{
			width: 30%;
			float: left;
		}
		input:focus{
			background: #F1DCF3;
		}
		input: required{
			border: 3px solid #F00;
		}
		